<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Board Main</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Welcome to Member Main</h1>

<div id="boardContainer">
  <!-- Boards will be dynamically added here -->
</div>

<script>
  $(document).ready(function() {
    $.ajax({
      url: '/api/board', // Assuming the endpoint to retrieve board data
      method: 'GET',
      success: function(data) {
        var boardContainer = $('#boardContainer');

        data.forEach(function(board) {
          var boardDiv = $('<div>');
          boardDiv.append($('<h2>').text(board.title));
          boardDiv.append($('<p>').text(board.description));

          var userListUl = $('<ul>');
          board.userList.forEach(function(user) {
            userListUl.append($('<li>').text(user));
          });
          boardDiv.append(userListUl);

          boardContainer.append(boardDiv);
          boardContainer.append($('<hr>'));
        });
      }
    });
  });
</script>
</body>
</html>