<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragment/head :: userHead ('보드작성페이지')}"></head>
<body>
<div class="container-eagle container-fluid">
  <div th:replace="~{fragment/nav :: useNav}">insert</div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12" id="board-id" th:value="${board.board_id}">
        <label for="title"></label>
        <input type="text" id="title" th:value="${board.title}" class="form-control shadow mt-2 border-0 p-3" placeholder="보드 제목을 입력하세요." />
        <label for="color"></label>
        <input type="text" id="color" th:value="${board.color}" class="form-control shadow mt-2 border-0 p-3" placeholder="보드 배경색을 입력해주세요." />
        <label for="description"></label>
        <input type="text" id ="description" th:value="${board.description}" class="form-control col-sm-5 mt-2 shadow border-0 p-3" placeholder="보드 설명을 입력해주세요">
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-12 d-flex justify-content-end">
        <div class="align-items-center d-flex">
          <button th:if="${board.board_id} != null" class="btn btn-primary btn-sm" value="updateBoard" id="modify-btn" onclick="Edit()">Edit</button>
          <button th:if="${board.board_id} == null" class="btn btn-outline-primary btn-sm ms-2" value="deleteBoard" id="create-btn" onclick="Create()">Submit</button>
          <button th:if="${board.board_id} != null" onclick="Delete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" th:href="@{/css/basic.css}">
<script th:src="@{/js/new.js}"></script>
</body>
</html>