<!DOCTYPE html>
<head th:replace="~{fragment/head :: userHead ('회원가입페이지')}"></head>
<body>
<div class="container main">
  <div th:replace="~{fragment/nav :: useNav}">insert</div>
    <h3 class="sub-visual">로그인</h3>
    <form action="/users/login" method="post">

      <label for="username">아이디</label><br>
      <input type="text" id="username" name="username" ><br>

      <label for="password">비밀번호 입력</label><br>
      <input type="password" id="password" name="password"><br><br>

      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>