<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragment/head :: userHead ('회원메인페이지')}"></head>
<body>
<div class="container-eagle container-fluid">
  <div th:replace="~{fragment/nav :: useNav}">insert</div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="post-list">
      <!-- 게시글 동적 생성 -->
    <a href = post/detail/${postId} class="col">
      <div class="card feed border-0">
        <img src="${image}" class="card-img-top img-fluid" alt="sampleImage" style="height: 14rem; overflow-clip: margin;">
        <div class="card-body">
          <h5 class="card-title fw-bold">${title}</h5>
          <p class="card-text text-truncate">${contents}</p>
          <p class="card-text fw-bold">${userName}</p>
          <p class="card-text text-muted">${modifiedAt}</p>
        </div>
      </div>
    </a>
  </div>
</div>
<link rel="stylesheet" th:href="@{/css/basic.css}">
<script th:src="@{/js/basic.js}"></script>
</body>
</html>