<!DOCTYPE html>
<head th:replace="~{fragment/head :: userHead ('비밀번호변경')}"></head>
<body>
<div class="container main">
    <div th:replace="~{fragment/nav :: useNav}">insert</div>
    <h3 class="sub-visual">비밀번호 변경</h3>
    <form action="/users/pswd" method="post">

        <label for="passwordOld">구 비밀번호 입력</label><br>
        <input type="password" id="passwordOld" name="password"><br><br>

        <label for="passwordNew">새 비밀번호 입력</label><br>
        <input type="password" id="passwordNew" name="password"><br><br>

        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>